.home{
    width: 100%;
    margin-top: 8px;
    background-color: black;
    flex-wrap: nowrap;
    flex-direction: column;
}
.pp{
    padding:0% 20%;
    display: block;
    font-size: 5rem;
    color: white;
    text-shadow: 2px 3px 5px white;
}

.button1{
    font-size: 2rem;
    text-decoration: none;
    background-color: white;
    color: black;
    width: 200px;
    border-radius: 30px;
    font-weight: bold;
    transition: 1s;
    box-shadow: 0px 2px 5px white;
}
.button1:hover{
    width: 230px;
    cursor: pointer;
}
.navbar{
    background-color: white;
}
.z{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.image img{
    height: 150px;
    width: 150px;
}
.carousel-item img{
    width: 60vw;
    height: 65vh;
}
 
@media  screen and (max-width:500px) {
    .pp{
        font-size:3rem;
    }
}