<% layout('./layout/boilerplate') %>

<h2>Products Page</h2>

<% if(message.length){%>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong><%=message%></strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <%}%>
<div>
    <a href="/products/new" class="btn btn-primary">Add New Product</a>
</div>

<%- include("../partials/card")%>